.textarea {
  border: 1px solid #d4d7da;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  font-size: 14px;
  height: auto;
  outline: none;
  padding: 1.5em;
  width: 100%;
}
